
body {
    background-color:#000;
    background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  #letrasnav {
    text-align: end;
    color: aliceblue;
  }
#quien {
    color: aliceblue;
}
#logo_viajes {
    color: aliceblue;
}
#escrito {
    background-color: #000;
    background-size:cover;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}
#letras {
    color: aliceblue;
    text-align: center;

}
#formulario {
    background-color: black;
    color: aliceblue;
    margin: top 10px;
    margin: 0px;

}
#Destacados {
    color: aliceblue;
    text-align: center;
}

#contacto{

    color: aliceblue;
    text-align: center;
}

footer {
    background-color: aqua;
    color: aliceblue;
    text-align: center;
}
    